{% load static %}
<!-- Footer -->

<footer class="footer">
    <div class="container">
        <div class="row">

            <div class="col-lg-3 footer_col">
                <div class="footer_column footer_contact">
                    <div class="logo_container">
                        <div class="logo"><a href="/">{{ setting.title }}</a></div>
                    </div>
                    <div class="footer_title">Bize Ulaşın</div>
                    <div class="footer_phone">{{ setting.phone}}</div>
                    <div class="footer_contact_text">
                        <p>{{ setting.address}}</p>
                    </div>
                    <div class="footer_social">
                        <ul>
                            <li><a href="http://{{ setting.facebook }}"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="http://{{ setting.twitter }}"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="http://{{ setting.instagram }}"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 offset-lg-2">
                <div class="footer_column">
                    <div class="footer_title">Site İçinde Gezinin</div>
                    <ul class="footer_list">
                        <li><a href="/">Anasayfa</a></li>
                        <li><a href="/aboutus/">Hakkımızda</a></li>
                        <li><a href="/contact/">İletişim</a></li>
                        <li><a href="/references/">Referanslar</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-2">
                <div class="footer_column">
                    <div class="footer_title">Kullanıcı Paneli</div>
                    <ul class="footer_list">
                        <li><a href="/user/"><i class="fa fa-user-o"></i>Hesabım</a></li>
                        <li><a href="/user/orders/"><i class="fa fa-user-o"></i>Siparişlerim</a></li>
                        <li><a href="/user/comments/"><i class="fa fa-user-o"></i>Yorumlarım</a></li>
                        {% if user.id is not None %}
                            <li><a href="/logout/"><i class="fa fa-user-o"></i>Çıkış Yap</a></li>
                        {% else %}
                            <li><a href="/login/">Giriş Yap</a></li>
                        {% endif %}
                        <li><a href="#">Sıkça Sorulan Sorular</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</footer>

<!-- Copyright -->

<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col">

                <div class="copyright_container d-flex flex-sm-row flex-column align-items-center justify-content-start">
                    <div class="copyright_content"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                    <div class="logos ml-sm-auto">
                        <ul class="logos_list">
                            <li><a href="#"><img src="{% static 'images/logos_1.png' %}" alt=""></a></li>
                            <li><a href="#"><img src="{% static 'images/logos_2.png' %}" alt=""></a></li>
                            <li><a href="#"><img src="{% static 'images/logos_3.png' %}" alt=""></a></li>
                            <li><a href="#"><img src="{% static 'images/logos_4.png' %}" alt=""></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'styles/bootstrap4/popper.js' %}"></script>
<script src="{% static 'styles/bootstrap4/bootstrap.min.js' %}"></script>
<script src="{% static 'plugins/greensock/TweenMax.min.js' %}"></script>
<script src="{% static 'plugins/greensock/TimelineMax.min.js' %}"></script>
<script src="{% static 'plugins/scrollmagic/ScrollMagic.min.js' %}"></script>
<script src="{% static 'plugins/greensock/animation.gsap.min.js' %}"></script>
<script src="{% static 'plugins/greensock/ScrollToPlugin.min.js' %}"></script>
<script src="{% static 'plugins/OwlCarousel2-2.2.1/owl.carousel.js' %}"></script>
<script src="{% static 'plugins/slick-1.8.0/slick.js' %}"></script>
<script src="{% static 'plugins/easing/easing.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>