{% load static %}
<!-- Header -->

<header class="header">

    <!-- Top Bar -->

    <div class="top_bar">
        <div class="container">
            <div class="row">
                <div class="col d-flex flex-row">
                    <div class="top_bar_contact_item">
                        <div class="top_bar_icon">
                            <img src="{% static 'images/phone.png' %}" alt="">
                        </div>
                        {{ setting.phone}}
                    </div>
                    <div class="top_bar_contact_item">
                        <div class="top_bar_icon">
                            <img src="{% static 'images/mail.png' %}" alt="">
                        </div>
                        <a href="mailto:{{ setting.email}}">{{ setting.email}}</a>
                    </div>
                    <div class="top_bar_content ml-auto">
                        <div class="top_bar_menu">
                            <ul class="standard_dropdown top_bar_dropdown">
                                <li>
                                    <a href="#">Türkçe<i class="fas fa-chevron-down"></i></a>
                                    <ul>
                                        <li><a href="#">English</a></li>
                                        <li><a href="#">German</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">₺ TR Lira<i class="fas fa-chevron-down"></i></a>
                                    <ul>
                                        <li><a href="#">$ US dollar</a></li>
                                        <li><a href="#">€ EUR Euro</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="top_bar_user">


                            <ul class="standard_dropdown top_bar_dropdown">
                                <li>{% if user.id is not None %}
                                    <strong class="text-uppercase"><a href="#">{{ user.first_name }}<i class="fas fa-chevron-down"></i></a></strong>
                                {% else %}
                                    <div class="user_icon"><img src="{% static 'images/user.svg' %}" alt=""></div>
                                    <div><a href="/login/">Giriş Yap<i class="fas fa-chevron-down"></i></a></div>
                                    <div><a href="/join/">Kayıt Ol</a></div>
                                {% endif %}
                                    <ul>
                                        <li><a href="#"><i class="fa fa-user-o"></i> Hesabım</a></li>
                                        <li><a href="#"><i class="fa fa-user-o"></i> Siparişlerim</a></li>
                                        <li><a href="#"><i class="fa fa-user-o"></i> Yorumlarım</a></li>
                                        <li><a href="/logout/"><i class="fa fa-user-o"></i> Çıkış Yap</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Header Main -->

    <div class="header_main">
        <div class="container">
            <div class="row">

                <!-- Logo -->
                <div class="col-lg-3 col-sm-3 col-3 order-1">
                    <div class="logo_container">
                        <div class="logo"><a href="/">{{ setting.title }}</a></div>
                    </div>
                </div>

                <!-- Search -->
                <div class="col-lg-5 col-12 order-lg-2 order-3 text-lg-left text-right">
                    <div class="header_search">
                        <div class="header_search_content">
                            <div class="header_search_form_container">
                                <form action="/search/" class="header_search_form clearfix" method="post">
                                    {% csrf_token %}
                                    <input name="query" type="search" required="required" class="header_search_input" placeholder="Kitap mı arıyorsunuz?">
                                    <div class="custom_dropdown">
                                        <div class="custom_dropdown_list">
                                            <span class="custom_dropdown_placeholder clc">Tüm Kategoriler</span>
                                            <i class="fas fa-chevron-down"></i>
                                            <ul class="custom_list clc">
                                                <li><a class="clc" href="#">Tüm Kategoriler</a></li>
                                                <li><a class="clc" href="#">Roman</a></li>
                                                <li><a class="clc" href="#">Şiir</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <button type="submit" class="header_search_button trans_300" value="Submit"><img src="{% static 'images/search.png' %}" alt=""></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Wishlist -->
                <div class="col-lg-4 col-9 order-lg-3 order-2 text-lg-left text-right">
                    <div class="wishlist_cart d-flex flex-row align-items-center justify-content-end">
                        <div class="wishlist d-flex flex-row align-items-center justify-content-end">
                            <div class="wishlist_icon"><img src="{% static 'images/heart.png' %}" alt=""></div>
                            <div class="wishlist_content">
                                <div class="wishlist_text"><a href="#">Favoriler</a></div>
                                <div class="wishlist_count">115</div>
                            </div>
                        </div>

                        <!-- Cart -->
                        <div class="cart">
                            <div class="cart_container d-flex flex-row align-items-center justify-content-end">
                                <div class="cart_icon">
                                    <img src="{% static 'images/cart.png' %}" alt="">
                                    <div class="cart_count"><span>10</span></div>
                                </div>
                                <div class="cart_content">
                                    <div class="cart_text"><a href="#">Sepet</a></div>
                                    <div class="cart_price">₺85</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Main Navigation -->

    <nav class="main_nav" >
        <div class="container">
            <div class="row">
                <div class="col">

                    <div class="main_nav_content d-flex flex-row">

                        <!-- Categories Menu -->

                        <div class="cat_menu_container">
                            <div class="cat_menu_title d-flex flex-row align-items-center justify-content-start">
                                <div class="cat_burger"><span></span><span></span><span></span></div>
                                <div class="cat_menu_text">Kategoriler</div>
                            </div>


                            <ul class="cat_menu">
                                {% load mptt_tags %}
                                {% recursetree category %}
                                    <li class="hassubs">
                                        <a href="/category/{{ node.id }}/{{ node.slug }}">{{ node.title }}<i class="fas fa-chevron-right"></i></a>
                                        {% if not node.in_leaf_node %}
                                            <ul>
                                                <li>
                                                    <a href="/category/{{ node.slug }}">{{ children }}</a>
                                                </li>
                                            </ul>
                                        {% endif %}
                                    </li>
                                {% endrecursetree %}
                            </ul>

                        </div>

                        <!-- Main Nav Menu -->

                        <div class="main_nav_menu ml-auto">
                            <ul class="standard_dropdown main_nav_dropdown">
                                <li><a href="/">Anasayfa<i class="fas fa-chevron-down"></i></a></li>
                                <li><a href="/aboutus">Hakkımızda<i class="fas fa-chevron-down"></i></a></li>
                                <li><a href="/contact">İletişim<i class="fas fa-chevron-down"></i></a></li>
                                <li><a href="/references">Referanslar<i class="fas fa-chevron-down"></i></a></li>
                            </ul>
                        </div>

                        <!-- Menu Trigger -->

                        <div class="menu_trigger_container ml-auto">
                            <div class="menu_trigger d-flex flex-row align-items-center justify-content-end">
                                <div class="menu_burger">
                                    <div class="menu_trigger_text">menu</div>
                                    <div class="cat_burger menu_burger_inner"><span></span><span></span><span></span></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </nav>

    <!-- Menu -->

    <div class="page_menu">
        <div class="container">
            <div class="row">
                <div class="col">

                    <div class="page_menu_content">

                        <div class="page_menu_search">
                            <form action="#">
                                <input type="search" required="required" class="page_menu_search_input" placeholder="Search for products...">
                            </form>
                        </div>
                        <ul class="page_menu_nav">
                            <li class="page_menu_item has-children">
                                <a href="#">Dil<i class="fa fa-angle-down"></i></a>
                                <ul class="page_menu_selection">
                                    <li><a href="#">Türkçe<i class="fa fa-angle-down"></i></a></li>
                                    <li><a href="#">English<i class="fa fa-angle-down"></i></a></li>
                                    <li><a href="#">German<i class="fa fa-angle-down"></i></a></li>
                                </ul>
                            </li>
                            <li class="page_menu_item has-children">
                                <a href="#">Para Birimi<i class="fa fa-angle-down"></i></a>
                                <ul class="page_menu_selection">
                                    <li><a href="#">TR Lira<i class="fa fa-angle-down"></i></a></li>
                                    <li><a href="#">US Dollar<i class="fa fa-angle-down"></i></a></li>
                                    <li><a href="#">EUR Euro<i class="fa fa-angle-down"></i></a></li>
                                </ul>
                            </li>
                            <li class="page_menu_item">
                                <a href="/">Anasayfa<i class="fa fa-angle-down"></i></a>
                            </li>
                            <li class="page_menu_item">
                                <a href="/aboutus">Hakkımızda<i class="fa fa-angle-down"></i></a>
                            </li>
                            <li class="page_menu_item">
                                <a href="/contact">İletişim<i class="fa fa-angle-down"></i></a>
                            </li>
                            <li class="page_menu_item">
                                <a href="/references">Referanslar<i class="fa fa-angle-down"></i></a>
                            </li>
                        </ul>

                        <div class="menu_contact">
                            <div class="menu_contact_item">
                                <div class="menu_contact_icon">
                                    <img src="{% static 'images/phone_white.png' %}" alt="">
                                </div>
                                {{ setting.phone}}
                            </div>
                            <div class="menu_contact_item">
                                <div class="menu_contact_icon">
                                    <img src="{% static 'images/mail_white.png' %}" alt="">
                                </div><a href="mailto:{{ setting.email}}">{{ setting.email}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</header>