{% extends "homebase.html" %}
{% load static %}
{% block title %} {{ setting.title }} {% endblock %}
{% block keywords %} {{ setting.keywords}} {% endblock %}
{% block description %} {{ setting.description}} {% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}' />
{% endblock %}

{% block content %}
    <!-- BREADCRUMB -->
    <div id = "breadcrumb">
        <div class ="container">
            <ul class ="breadcrumb-item">
                <li><a href="/">Anasayfa</a></li>
                <li class="active">/ Giriş Yap</li>
            </ul>
        </div>
    </div>
    <!-- /BREADCRUMB -->

    <div class="shop">
        <div class="container">
            <div class="row">

                <div class ="col-md-12">
                    <div>
                        <div class="section-title">
                            <h3 class="title">Giriş Formu</h3>
                        </div>

                        <form action="" method="post">
                            {% csrf_token %}

                            <div class="form-group">
                                <input class="input" type="text" name="username" placeholder="Kullanıcı Adı">
                            </div>
                            <div class="form-group">
                                <input class="input" type="password" name="password" placeholder="Şifre">
                            </div>

                            <button class="button cart_button" type="submit">Giriş Yap</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}