{% extends "homebase.html" %}

{% block title %} {{ setting.title }} {% endblock %}
{% block keywords %} {{ setting.keywords}} {% endblock %}
{% block description %} {{ setting.description}} {% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}' />
{% endblock %}

{% block content %}
    <!-- BREADCRUMB -->
    <div id = "breadcrumb">
        <div class ="container">
            <ul class ="breadcrumb-item">
                <li><a href="/">Anasayfa</a></li>
                <li class="active">/ Referanslar</li>
            </ul>
        </div>
    </div>
    <!-- /BREADCRUMB -->

    <!-- Single Blog Post -->

    <div class="single_post">
        <div class="container">
            <div class="row">

                <div class="col-lg-8 offset-lg-2">
                    <div class="single_post_quote text-center">
                        {{ setting.references | safe }}
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}